h1 {
    font-family: "Amatic SC";/*look up how to get .ttf file fonts to render in chrome*/
}

.bullet1 {
    list-style-image: url('bullet1.svg');
  }

.bullet2 {
    list-style-image: url('bullet2.svg');
  }