h1 {
    font-family: "Amatic SC";/*look up how to get .ttf file fonts to render in chrome*/
    color: #f5c0c0
}

  ul {
    list-style: none;
    font-size: 18px;
    font-family: "Averia Sans Libre";
  }

  ul li {
    margin-bottom: 10px;
    padding-left: 25px;     /* Adjust based on image dimension */
    position: relative;
  }
  
  ul li::before {
    /* Icon by Smashicons */
    background-image: url('bullet1.svg');
    background-size: cover;
    content: "";
    height: 17px;           /* Adjust based on image height */
    left: 0;
    position: absolute;
    top: 2px;               /* Adjust for best image placement relative to text */
    width: 17px;            /* Adjust based on image width */
  }

  a:link {
    color: #f5c0c0;
  }

  a:visited {
    color: #bbd88f
  }